body
{
    background: #272626;
    color:#333;
    text-align: left;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
    zoom: 100%;
}

#header{
    background: rgba(142, 227, 230, 0.856);
    box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0cm;
    padding: 0.5cm;
    vertical-align: center;
    font-size: larger;
}


#header #tagline{
    margin: 0 0 0 2cm;
    font-weight: normal;
    font-size: 0.35cm;
    text-align: left;
    vertical-align: text-bottom;
}

#container1
{
    width: 90%;
    padding: 0cm;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container1 h1{
    font-size: 30px;
    text-align: center;
}

#post{
    background: white;
    padding: 1cm;
    text-align: justify;
}

#footer{
    background: #777;
    color: white;
    text-align: center;
    padding: 0.1cm;
}